/* 
*
*
*
*
*/

@font-face {
  font-family: 'Antonio';
  src: url('../fonts/Antonio-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spartan';
  src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --night-blue: #070724;
  --dark-gray: #38384F;
  --medium-gray: #838391;
  --mercury-blue: #419EBB;
  --venus-yellow: #EDA249;
  --earth-purple: #6D2ED5;
  --mars-red: #D14C32;
  --jupiter-red: #D83A34;
  --saturn-orange: #CD5120;
  --uranus-green: #1EC1A2;
  --neptune-blue: #2D68F0;
}

html {
  font-size: 20px;
}
body {
  font-family: 'Spartan', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.25rem;
  background-image: url('./public/images/background-stars.svg');
  background-size: cover;
  background-color: var(--night-blue);
  color: var(--white);
  /* Required for overlays */
  position: relative;
}

/* Overlays for layout testing */
.overlay {
  position: absolute;
  width: 1440px;
  height: 1024px;
  display: none;
}
#desktop-overlay {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.4;
}
/* End testing */

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 4rem;
  line-height: 5.15rem;
}
h2 {
  font-family: 'Antonio', sans-serif;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 0.6rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  display: inline;
}
h4 {
  font-size: 0.55rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button {
  background: none;
  color: inherit;
  text-align: left;
}
.btn-large {
  width: 17.5rem;
  height: 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-medium {
  width: 14.05rem;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-small {
  width: 4rem;
  height: 2.5rem;
  text-align: center;
}
.wiki-container {
  opacity: 0.5;
  font-weight: 400;
}
.wiki-link {
  opacity: inherit;
  color: inherit;
  font-weight: 700;
}
nav {
  min-height: 4.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}
nav a {
  font-size: 0.55rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  opacity: 0.75;
}
nav a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 2px solid transparent;
  z-index: -1;
}
nav a:hover {
  opacity: 1;
}
nav a:hover::before {
  border-color: red;
}
ul {
  list-style: none;
}

.flex-menu {
  display: flex;
}
.body-padding {
  padding-inline: 1.6rem;
}
.fill-height {
  height: 100%;
}

ul.flex-menu {
  padding-left: 0.75rem;
  padding-right: 0.45rem;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
ul.flex-menu > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-top: 2px solid red;
  border-bottom: 2px solid transparent; */
}

.logo {
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

/* Used to test the counter for the buttons */
.planet-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  counter-reset: count 0;
}
.planet-menu button {
  counter-increment: count 1;
}
.planet-menu button::before {
  content: '0' counter(count, decimal);
  margin-inline: 1rem;
  opacity: 0.5;
}
/* End test */

button.btn-medium:hover,
button.btn-large:hover {
  background-color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
}
button.active {
  background-color: var(--earth-purple);
  border: 1px solid var(--earth-purple);
}
button.btn-small.active {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--earth-purple);
}
button.btn-small:hover {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--earth-purple);
}
